.UpcomingAuditions{
    background-image: url('../../../images/Ayman_Sadiq.jpg');
    width: 90%;
    background-color: #6DB3F2;
    height: 250px;
    margin-bottom: 10px;
    background-position: center;
    opacity: 1;
}

.xyz-auditions{
    width: 105.1%;
    margin-left: -12.5px;
    height: 250px;
    background-color: #000000a9;
}

.xyz-audition{
    background-color: #000000a9;
    width: 50%;
    padding: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.td-auditions{
    padding-left: 15%;
}
.Pic-Auditions{
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}

.Co-Auditions{
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid rgb(87, 86, 86);
  
}

.hr-Auditions{
   margin-bottom: 10px;
}

.Pa-btn-text{
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    padding: auto;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
}
.xyz-audition-btn{
    width: 30%;
    height: 35px;
    background-color: #FFAD00;
    color: white;
    border: none;
    border-radius: 10px;
    padding: auto;
}


@media only screen and (max-width: 768px) {
    
    .xyz-auditions{
        width: 108.8%  !important;
        margin-left: -12.5px;
    }
    .xyz-audition{
        width: 70%  ;
    }
    .xyz-audition-btn{
        width: 70% ;
        text-align: center;
        padding-left: 25px;
    }
}


@media only screen and (min-width: 770px) and(max-width: 1100px) {
    
    .xyz-auditions{
        width: 110.8%  !important;
        margin-left: -12.5px;
    }
    .xyz-audition{
        background-color: #000000a9;
        width: 80%;
    }
    .xyz-audition-btn{
        width: 70% !important;
        text-align: center;
        padding-left: 25px;
    }
    .xyz-auditions{
        width: 10.1%;
        margin-left: -12.5px;
        height: 250px;
        background-color: #000000a9;
    }
}

@media only screen and (max-width: 1400px) {
    .xyz-audition-btn{
        width: 40% !important;
        text-align: center;
        padding-left: 25px;
    }
    .xyz-auditions{
        width: 105.8%;
    }
}