
.Payment{
  background-color: #000000 !important;
  
}

.BuyPackages {
  background-color: #000000;
  width: 100%;
  min-height: 100vh;
  border: none;
  outline: none;
}
.buy-packages-header {
  background-image: url("../../../images/Normal-User/Single-frame.png");
  background-size: 20% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-bottom: 50px;
}
.buy-packages-header p {
  padding: 10px;
  margin-top: 12px;
  color: #f0e25e;
  font-size: 18px;
  font-weight: 600;
}
.Payment-bg{
  margin-bottom:40px;
}
.Payment-pak{
width:100% ;
height: 90px;
margin-right:5px !important;
background-color: white;
margin-bottom: 35px;
border: 2px solid #f0e25e;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
}
.Payment-pak:hover {
  background-color: rgb(233, 226, 10);
}

@media only screen and (max-width: 600px) {
  .Payment-pak{
    width:100% !important;
    height: 80px;
    margin-right:5px !important;
    background-color: white;
    margin-bottom: 35px;
    border: 2px solid #f0e25e;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    }
}

/* 

.payment-pak {
  min-height: 10px;
  margin-bottom: 50px;
}

.car-pak {
  list-style: none;
  overflow: auto;
  white-space: nowrap;
  list-style: none;
}
.car-pak::-webkit-scrollbar-thumb {
  background: #000000; 
}

.car-pak-li {
  display: inline;
  padding: 10px;
}

.car-pak-li img {
  width: 20px;
  height: 100px;
  background-color: white;
  padding: 10px;
  margin-bottom: 35px;
  border: 2px solid #f0e25e;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.car-pak-li img:hover {
  width: 12%;
  margin-bottom: 35px;
  height: 100px;
  background-color: rgb(233, 226, 10);
  padding: 10px;
  border: 2px solid #f0e25e;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
} */

.buy-package-bg {
  width: 100%;
  display: flex;
}

.pak-s {
  color: #f0e25e;
  padding-bottom: 10px;
}

.pak-style {
  border-width: 0 0 2px;
  border: 2px solid #f0e25e;
  background-color: #343434;
  color: #f0e25e;
  font: 15px;
  border-radius: 0;
  margin-bottom: 25px;
}

.pak-style:focus {
  box-shadow: none;
  font: 15px;
  border: 2px solid #f0e25e;
  background-color: #343434 !important;
  color: #f0e25e;
}
.btn-pak {
  font: 15px;
  padding: 5px;
  color: white;
  background-color: #ffb907;
  border-radius: 5px;
  border: none;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


/* .payment-scroll
{
    max-width: 100px;
    overflow-x: scroll;
} */


.Payment-Con {
  margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  .buy-packages-header {
    background-size: 100% 85% !important;
  }
  .buy-packages-header p {
    font-size: 15px !important;
    padding: 13px;
  }
  .btn-pak{
    margin-bottom: 30px;
  }

  
  .car-pak-li {
    padding: 10px;
  }

  .car-pak-li img {
    width: 40%;
    height: 50px;
    background-color: white;
    padding: 10px;
    margin-bottom: 40px;
    border: 2px solid #f0e25e;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .car-pak-li img:hover {
    width: 12%;
    height: 80px;
    margin-bottom: 40px;
    background-color: rgb(233, 226, 10);
    padding: 10px;
    border: 2px solid #f0e25e;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}


@media only screen and (max-width: 700px) {
  .buy-packages-header {
    background-size: 100% 85% !important;
  }
  .buy-packages-header p {
    font-size: 15px !important;
    padding: 13px;
  }
  .btn-pak{
    margin-bottom: 30px;
  }

  .car-pak-li {
    padding: 10px;
    margin-bottom: 20px;
  }

  .car-pak-li img {
    width: 40%;
    height: 80px;
    margin-bottom: 40px !important;
    background-color: white;
    padding: 10px;
    border: 2px solid #f0e25e;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .car-pak-li img:hover {
    width: 40%;
    height: 80px;
    margin-bottom: 40px !important;
    background-color: rgb(233, 226, 10);
    padding: 10px;
    border: 2px solid #f0e25e;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}
