.Package-container{
    background-color: #000000;
    width: 100%;
    min-height: 100vh;
    border: none;
    outline: none;
  }


.pak-header{
    background-image: url('../../../images/Normal-User/Single-frame.png');
    background-size: 35% 80%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 40px;
}
.pak-header p{
    padding: 30px;
    margin-top: 10px;
    color: #F0E25E;
    font-size: 18px;
    font-weight: 600;
}
.pak-b{
    background-color: rgb(56, 52, 52);
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.pa-header{
    background-color:#FFAD00;
    height: 50px;
    margin-bottom: 20px;
}
.pa-header p{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    color: white;
}

.package p{
    color: white;
    margin-left: 35px;
    font-size: 12px;
    padding: 3px;
}
.star{
    width: 12px;
}


.but-c{
    text-align: center;
}

.dollar{
    color: #F0E25E;
    font-size: 30px;
}
.dollar-s{
    color: #F0E25E;
}

.package-btn{
    width: 100px;
    height: 30px;
    font-size: 15px;
    color: white;
    background-color: #FFAD00;
    margin-bottom: 15px;
    border: none;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .pak-header {
      background-size: 100% 85% !important;
    }
    .pak-header p {
        font-size: 15px !important;
      }
  }

  @media only screen and (min-width: 770px) {
    .pak-header {
      background-size: 50% 85% !important;
    }
    .pak-header p {
        font-size: 15px !important;
      }
  }
  @media only screen and (min-width: 1100px) {
    .pak-header {
      background-size: 30% 85% !important;
    }
    .pak-header p {
        font-size: 15px !important;
      }
  }