.profile-container {
    position: relative;
}

.profile-photo {
    position: relative;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 12px;
    background-color: #6B6B6B;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    opacity: 0.8;
}

.bottomright-profile {
    position: absolute;
    bottom: 10px;
    right: 2px;


}

.profile-pic-button {
    border-radius: 50%;
    background-color: #6B6B6B;
    opacity: 0.8;
    border: none;
    color: white;

}

@media only screen and (max-width: 600px) {
    .bottomright {
        position: absolute;
        bottom: 8px;
        right: 12px;
        background-color: #6B6B6B;
        border: none;
        color: white;
        padding: 5px;
        border-radius: 5px;
        font-size: 8px;
        opacity: 0.8;
    }
}

.profile-cover {
    height: 350px;
    width: 100%;
    border-radius: 5px;
}

.profile-div {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-img {
    cursor: pointer;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    color: #818181;
}


/* .prodile-pic-info{
    color: yellow;
} */


/* @media only screen and (max-width: 600px) {
    .profile-div{
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
  } */

.main-div {
    margin-top: 100px;
    margin-bottom: 90px;
}

.profile-photos {
    cursor: pointer;
    padding: 5px 0 40px 0;
}

.left-col-box {
    background-color: #343434;
}

.see-all-text {
    text-align: right;
}

.profile-accordion-button-icon::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F0E25E'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.profile-accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23#000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.left-bottom-accorion {
    background-color: #000000 !important;
}

.category-size {
    font-size: 12px;
    color: #FFAD00 !;
}

hr.hr-line {
    border: 1px solid black;

}

.profile-font-color {
    color: #F0E25E;
}

.profile-card-img {
    height: 342px;
    /* width: 90%; */
}

.heart {
    color: red;
}

.profile-card-text {
    font-size: 14px;
    color: white;
}

.card-btn-profile {
    background-color: #FFB926;
    border: none;
    padding: 5px 30px 5px 30px;
    text-align: center;
    border-radius: 5px;
}

.superstar-card {
    width: 90%;
}

.time-color {
    color: #FFFFFF;
}


.profile-time-text {
    color: rgb(216, 212, 212);
    font-size: 12px;
}

.left-col-box {
    border-radius: 10px;
}

.cards-start {

    height: 1420px;
    overflow: hidden;
}

.card-scroll {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
}