
.right-col-box-home-r{
    background-color: #343434;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.live-text-sln{
    color: #F0E25E;
    padding: 5px;
    padding-top: 8px;
}

.Live-S-Nav{
    position: relative;
}
.Live-RS-img{
    width: 100px;
    height: 75px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
@media only screen and (max-width: 768px) {
    .Live-RS-img{
        width: 80%;
        height: 82px;
    }
  }
  @media only screen and (min-width: 1100px) {
    .Live-RS-img{
        width:90%;
        height: 82px;
    }
  }
  @media only screen and (width: 1400px) {
    .Live-RS-img{
        width:90%;
        height: 70px;
    }
    .ContentLight { 
        font-size: 80px;
        margin-left: 0px !important;
        margin-bottom: 35px; 
      }

  }
  @media only screen and (max-width: 1399px) {
    .Live-RS-img{
        width:90%;
        height: 70px;
    }
    .ContentLight { 
        font-size: 80px;
        margin-left: 50px !important;
        margin-bottom: 35px; 
      }

  }

  /* @media only screen and (min-width:900px and max-width:1200px) {
    .Live-RS-img{
        width:80%;
        height: 82px;
    }
  } */

.Live-RS-Name{
    font-size: 12px;
    color: white;
    margin-left: 5px;
    padding: 2px;
}


.ContentLight {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    color: #c70d0d; 
    font-size: 80px;
    margin-left: 60px;
    margin-bottom: 35px;
    padding: 20px; /* Some padding */
  }
@media only screen and (max-width: 768px) {
    .ContentLight {
        margin-left: 65px;
        margin-bottom: 45px;
      }
  }


  .OnlineGreen{
    color: green;
    font-size: 8px;
    margin-bottom: -10px;
    z-index: 1;
    position: relative;
}



.Live-RS-btn{
    border: none;
    margin-top: 6px;
    cursor: pointer;
    padding: 5px;
    margin-right: 10px;
    width: 46px;
    height: 69px;
    padding: 5px;
    background-color: #494949;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.see-all-live{
    font-size: 10px;
    color: white;
}
.see-all-live-ico {
    font-size: 15px;
    color: white;
}

.Live-RS-ico{
    text-align: center;
    font-size: 20px;
    background-color: white;
    margin-bottom: 10px;  
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


  
  /* Bottom right text */
  .live-text-block-l {
    width: 100px;
    margin-left: 5px;
    height: 20px;
    position: absolute;
    bottom: 15px;
    border-radius:0px 0px 10px 0px ;
    background-color: rgba(0, 0, 0, 0.768);
}
  .live-text-block-l p{
      font-size: 10px;
      padding-top: 3px;
      text-align: center;
      color: white;
  }
 
    /* Bottom right text */
    .live-text-block-r {
        width: 100px;
        margin-left: 5px;
        height: 20px;
        left: 110px;
        position: absolute;
        bottom: 15px;
        border-radius:0px 0px 10px 0px ;
        background-color: rgba(0, 0, 0, 0.768);
    }
    .live-text-block-r p{
        font-size: 10px;
        padding-top: 3px;
        text-align: center;
        color: white;
    }

    @media only screen and (max-width: 900px) {
        .right-col-box-home {
          width: 100%;
        }
        .live-text-block-l p{
            width: 100%;
        }
        
      }

