.Follow-Category
{
    max-height: 1500px;
    overflow-y: scroll;
    margin-top:20px;
    margin-bottom: 20rem;
}

.Follow-Category::-webkit-scrollbar {
  width: 0px;
  background: #5f5f5f; 
}


.mainCat-follow{
    margin-left: 0px;
    margin-bottom: 396px;
}



.ProMain{
    padding-left: 35px;

}
.Follow-Category-div{
    width: 90%;
    margin-left: 30px;
    background-color: rgb(54, 51, 51);
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}

.Follow-Category-Img{
    width: 100%;
    height: 90px;
    padding-top: 16px;
    padding-left: 5px;
    padding-right: 5px;
}

.Follow-Category-text{
    font-size: 12px;
    color: white;
    margin-left: 5px;
}
.bt-cat-fol{
    border: none;
    text-align: center;
    background-color:#FFAD00 !important;
    width: 90%;
    height: 25px;
    margin-bottom: 25px;
    margin-left: 30px;
    border-radius: 0px 0px 10px 10px ;
    -webkit-border-radius: 0px 0px 10px 10px ;
    -moz-border-radius: 0px 0px 10px 10px ;
    -ms-border-radius: 0px 0px 10px 10px ;
    -o-border-radius: 0px 0px 10px 10px ;
}
.plus-cat{
   width: 13px;
}

@media only screen and (max-width: 768px) {

   
    .Follow-Category-div{
        width:80%;
        margin-left: 50px;
    }
    
    .Follow-Category-Img{
        height: 150px;
    }
    .bt-cat-fol{
       
        width: 80%;
        margin-left: 50px;
    }
    

  }

  
@media screen and (min-device-width: 770px) and (max-device-width: 1100px) { 
    
    
    .Follow-Category-div{
        width: 100%;
        margin-left: 20px;
    }

    .Follow-Category-Img{
        width: 100%;
        height: 60px;
        padding-top: 10px;
        padding-left: 1px;
        padding-right: 1px;
        padding-bottom: 0px;
    }
    .Follow-Category-text{
        font-size: 10px;
        color: white;
    }
    .bt-cat-fol{
       
        width: 100%;
        height: 20px;
        font-size: 10px;
        margin-left: 20px;
    }
    
   
    
}



