.star-photos-card {
    width: 90%;
    background-color: #343434;
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    .star-photos-card {
        width: 100%;
    }
    .star-card-left-photos {
        cursor: pointer;
        width: 95%;
        height: 100px !important;
    }
}

.star-line {
    width: 100%;
    height: 2px;
    background-color: #000000;

}

.star-card-left-photos {
    cursor: pointer;
    width: 95%;
    height: 160px;

    border-radius: 10px;
}