.page_404 {
    padding: 40px 0;
    font-family: 'Arvo', serif;
}
.page_404 img {
    width: 100%;
}
.four_zero_four_bg {
    background-image: url('../../../images/Error/error.gif');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat; 
}
.four_zero_four_bg h1 {
    font-size: 20px;
}
.four_zero_four_bg h3 {
    font-size: 80px;
}
.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #f5a801;
    margin: 20px 0;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.contant_box_404 {
    margin-top: -50px;
}